a {
    font-family: 'Raleway', sans-serif;
    font-size: 125%;
    color: black;
    text-align: justify;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
    color: black;
    text-align: justify;
  }

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
    color: black;
    text-align: justify;
  }


label {
    font-family: 'Raleway', sans-serif;
    font-size: 125%;
    color: black;
    text-align: justify;
}

img {
    text-align: center;
  }